<header>
		<img src="img/bg.jpg" id="headerBackground" alt="image header">
		<a href="/"><img id="logo" src="img/logo.png" alt="logo belles de jour"></a>
		<p>Institut beauté, <br> pour un moment détente.</p>
    </header>
    
    <div id="navdesktop">
            <ul class="navdesk">
      <li style="width:7%;"><a href="/prestations">Offres</a><i></i></li>
      <li><a href="/produits">Mes produits</a></li>
      <li style="width: 8%;"><a href="/contact">Contact</a></li>
    </ul>
        </div>