nav {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 6px 0px 6px #00000029;
	position: relative;
	height: 150px;
}

ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
	padding-inline-start: 0px;
	justify-content: space-between;
}

img {
	width: 170%;
	height: 170%;
}

#pictocontact {
	position: absolute;
	top: -45%;
	left: 40%;
}

#pictopresta {
	position: absolute;
	left: 12%;
	bottom: -3%;
}

#pictoproduit {
	position: absolute;
	left: 73%;
	top: 17%;
}