<html lang="fr">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/404.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap" rel="stylesheet">
	<style>
		@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
	</style>
	<script src="js/jquery-3.4.1.min.js"></script>
	<title>Page404</title>
	<style></style>
	<!--Lien FavIcon-->
			<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
			<link rel="icon" href="img/favicon.ico" type="image/x-icon">	
</head>

<body cz-shortcut-listen="true">
	<header>
		<img src="img/bg.jpg" id="headerBackground" alt="image header">
		<a href="/"><img id="logo" src="img/logo.png" alt="logo belles de jour"></a>
		<p>Institut beauté, <br> pour un moment détente.</p>
	</header>
	<section>

		<div id="code404">
			<h3>La page est introuvable</h3>
			<p>Code erreur 404...<br><a href="index.html">cliquez ici </a>pour revenir à la page d'accueil</p>
		</div>

		<footer>
			<ul class="socials">
				<li id="insta">
					<a href="https://www.instagram.com/bellesdejour_/?hl=fr" target="_blank"><img src="img/instagram.svg"></a>
				</li>
				<li>
					<a href="#"><img src="img/twitter.svg"></a>
				</li>
				<li>
					<a href="https://www.facebook.com/bellesdejour77/" target="_blank"><img src="img/facebook.svg"></a>
				</li>
			</ul>
		</footer>

</body>

</html>