<html lang="fr">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" href="css/modifs.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap" rel="stylesheet">
	<style>
		@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
	</style>
	<script src="js/jquery-3.4.1.min.js"></script>
	<title>Belles de Jour</title>
	<style></style>
	<!--Lien FavIcon-->
			<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
			<link rel="icon" href="img/favicon.ico" type="image/x-icon">	
</head>

<body cz-shortcut-listen="true">
	<header>
		<img src="img/bg.jpg" id="headerBackground" alt="image header">
		<a href="/"><img id="logo" src="img/logo.png" alt="logo belles de jour"></a>
		<p>Institut beauté, <br> pour un moment détente.</p>
	</header>

	<div id="navdesktop">
		<ul class="navdesk">
			<li style="width:7%;"><a href="/prestations">Offres</a><i></i></li>
			<li><a href="/produits">Produits</a></li>
			<li style="width: 8%;"><a href="/contact">Contact</a></li>
		</ul>
	</div>

	<section id="offres2">

		<article id="soins" class="prestations2">
			<!-- <div id="imgsoins"></div> -->
			<!-- <img id="imgsoins2" src="img/soinsv2.png" alt="" srcset=""> -->
			<img id="imgsoins2" src="img/soinsv2.png" alt="" srcset="">
			<div class="zoneTextePrestation2">
				<h3>Soins</h3>
				<div id="textesoin" class="texteprestation">
					<p>Soins du visage 10€</p>
					<p>Soins pieds 10€</p>
					<p>Massage 40€</p>
					<a href="#" class="dots">...</a>
				</div>
			</div>
		</article>
		<article id="manucure2" class="prestations2">
			<!-- <div id="imgmanu"></div> -->
			<!-- <img id='imgmanu' src="img/manu.png" alt="" srcset=""> -->
			<div class="zoneTextePrestation2">
				<h3>Manucure</h3>
				<div id="textemanu" class="texteprestation">
					<p>Beauté des mains 25€</p>
					<p>Beauté des pieds 30€</p>
					<p>Vernis semi-permanent 25€</p>
					<a href="#" class="dots">...</a>
				</div>
			</div>
			<img id="imgmanu2" src="img/manu.png" alt="" srcset="">
		</article>
		<article id="epilation" class="prestations2">
			<img id="imgepil2" src="img/epil2.png" alt="" srcset="">
			<div class="zoneTextePrestation2">
				<h3>Epilations</h3>
				<div id="texteepil" class="texteprestation">
					<p>Demi-jambes 10€</p>
					<p>Intégrales 10€</p>
					<p>Aiselles 40€</p>
					<a href="#" class="dots">...</a>
				</div>
			</div>
		</article>
	</section>
	<section id="offres">
		<div id="borderoffres">
			<h4 id="titreoffre">Offres</h4>
		</div>
		<article id="soins" class="prestations">

			<img id="imgsoins" src="img/soinsv2.png" alt="" srcset="">
			<div class="zoneTextePrestation">
				<h3>Soins</h3>
				<div id="textesoin" class="texteprestation">
					<p>Soins du visage 10€</p>
					<p>Soins pieds 10€</p>
					<p>Massage 40€</p>
					<a href="#" class="dots">...</a>
				</div>
			</div>
		</article>
		<article id="manucure" class="prestations">

			<div class="zoneTextePrestation">
				<h3>Manucure</h3>
				<div id="textemanu" class="texteprestation">
					<p>Beauté des mains 25€</p>
					<p>Beauté des pieds 30€</p>
					<p>Vernis semi-permanent 25€</p>
					<a href="#" id="manudots">...</a>
				</div>
			</div>
			<img id="imgmanu" src="img/manu.png" alt="" srcset="">
		</article>
		<article id="epilation" class="prestations">
			<img id="imgepil" src="img/epil2.png" alt="" srcset="">
			<div class="zoneTextePrestation">
				<h3>Epilations</h3>
				<div id="texteepil" class="texteprestation">
					<p>Demi-jambes 10€</p>
					<p>Intégrales 10€</p>
					<p>Aiselles 40€</p>
					<a href="#" class="dots">...</a>
				</div>
			</div>
		</article>
	</section>

	<section class="rdv">
		<a href="#">Je prends RDV</a>
	</section>

	<section id="produits">
		<div id="borderproduit">
			<h4 id="titreproduit">Avec quels produits ?</h4>
		</div>

		<div class="slider-container">
			<img src="img/produits/GelPolishIBD.png" alt="Gel Polish IDB" srcset="" class="images image-cachee" data-target="1" style="left: -600px;">
			<img src="img/produits/NaturalStyle.png" alt="Peggy Sage Natural Style Protective Coat" srcset="" class="images image-cachee" data-target="2" style="left: -600px;">
			<img src="img/produits/PeggySageMassage.png" alt="Peggy Sage Massage Oil" srcset="" class="images image-secondaire image-gauche " data-target="3">
			<img src="img/produits/PEggySageDemaq.png" alt="Peggy Sage Demaquillant" srcset="" class="images image-principale" data-target="4">
			<img src="img/produits/PeggySageIlak.png" alt="¨Peggy Sage I LAK" srcset="" class="images image-secondaire image-droite" data-target="5">
			<img src="img/produits/PeggySageNailPrep.png" alt="Peggy Nail NAil Prep Sculpting" srcset="" class="images image-cachee" data-target="6" style="left: 600px;">
			<img src="img/produits/PeggySageStamping.png" alt="ëggy Sage Stamping" srcset="" class="images image-cachee" data-target="7" style="left: 600px;">
			<img src="img/produits/PSCremeNutri.png" alt="Peggy Sage Creme Haute Nutrition" srcset="" class="images image-cachee" data-target="8" style="left: 600px;">
			<img src="img/produits/RitualOfnamaste.png" alt="Ritual Of Namaste Cream" srcset="" class="images image-cachee" data-target="9" style="left: 600px;">

			<div class="zone-texte" id="texte1" style="display: none;">
				<h3 class="titre-texte">Vernis gel IDB</h3>
				<p class="corps-texte">Une tenue sans faille et des couleurs eclatantes durant plusieurs jours (14 jours à 3 semaines sur les mains et jusqu'à 6 semaines au niveau des pieds).</p>
			</div>

			<div class="zone-texte" id="texte2" style="display: none;">
				<h3 class="titre-texte">Top Coat Peggy Sage</h3>
				<p class="corps-texte">Un top coat pour accentuer la brillance et la couvrance de vos ongles, tout en ameliorant la tenue du vernis.</p>
			</div>

			<div class="zone-texte" id="texte3" style="display: none;">
				<h3 class="titre-texte">Huile de massage Peggy Sage</h3>
				<p class="corps-texte"> Non gras et enrichi d'huile essentielle d'oranger pure, ce soin permet de longs massages en continu, décontracte, apaise le stress et défatigue le corps.</p>
			</div>

			<div class="zone-texte" id="texte4" style="display: block;">
				<h3 class="titre-texte">Lotion démaquillante Peggy Sage</h3>
				<p class="corps-texte">Une formule très douce enrichie en eau de bleuet, garantie sans parfum ni alcool. Pour un démaquillage parfait des cils et paupières et supprime toute trace d'impureté et de maquillage.</p>
			</div>

			<div class="zone-texte" id="texte5" style="display: none;">
				<h3 class="titre-texte">Vernis semi-permanent Peggy Sage</h3>
				<p class="corps-texte">
					Des vernis semis-permanents qui garantissent un résultat de qualité. Du brillant au mat, en passant par les paillettes, des ongles eclatants et longue durée.</p>
			</div>

			<div class="zone-texte" id="texte6" style="display: none;">
				<h3 class="titre-texte">Prep Sculpting Peggy Sage</h3>
				<p class="corps-texte">Purifie et dégraisse l'ongle naturel, s'applique comme une vernis avant l'application de résine acrylique, capsules et gel UV.</p>
			</div>
			<div class="zone-texte" id="texte7" style="display: none;">
				<h3 class="titre-texte">Vernis Stamping Peggy Sage</h3>
				<p class="corps-texte">Un vernis coloré à texture couvrante spéciale stamping, pour des créations Nail Art.</p>
			</div>
			<div class="zone-texte" id="texte8" style="display: none;">
				<h3 class="titre-texte">Crème visage Peggy Sage</h3>
				<p class="corps-texte">La crème de jour haute nutrition est confortable et riche, elle protège, hydrate et répare les épidermes fragilisés grace aux huiles naturelles de Karité, Inca Inchi,et Macadamia.</p>
			</div>
			<div class="zone-texte" id="texte9" style="display: none;">
				<h3 class="titre-texte">The Ritual of Namaste</h3>
				<p class="corps-texte">Crème gel hydratante enrichie en acide hyalurinique et rose indienne, elle procure une hydratation intense de la peau et une protection contre les effets négatifs de la pollution urbaine.</p>

			</div>
		</div>
		<script src="js/main.js" async="" defer=""></script>

	</section>

	<section id="apropos">
		<div id="borderpropos">
			<h4 id="titreapropos">A propos</h4>
		</div>
		<img id="oceane" src="img/oceane.jpg" alt="oceane">
		<div id="divprofil">
			<p id="profil">
				Océanne Achaintre
			</p>
			<p id="bonjour">
				Bonjour à vous !
			</p>
			<p id="bio">
				Je me présente, je m’appelle Océane et j’ai 25 ans. Je suis esthéticienne certifiée suite à l’obtention
				d’un CAP esthétique-cosmétique-parfumerie en 2015 et d’un brevet professionnel esthétique en 2017.
				J’ai réalisé une alternance de deux ans chez Yves Rocher pour me former avant de me lancer à mon compte en septembre 2017. Je pratique les soins du corps, du visage, les épilations ainsi que les ongles
				en gel et semi-permanent.Je vous reçois à mon domicile dans une pièce adaptée aux soins afin de vous chouchouter le plus possible.

			</p>

			<p id="aurevoir">
				À très vite !
			</p>
			<div id="coordonnes">
				<img id="pictolocal" src="img/pictolocal.svg" alt="localisation">
				<div id="divavron">
					<p id="avron">
						Avron
					</p>
					<p id="adresse">
						à proximité de Fontainebleau (77)
					</p>
					<p id="tel">
						06 45 59 72 39
					</p>
				</div>
			</div>
		</div>

	</section>

	<section id="avis">
		<h2 id="titreavis">Qu'en disent-ils ?</h2>
	</section>
	<footer>
		<ul class="socials">
			<li id="insta">
				<a href="https://www.instagram.com/bellesdejour_/?hl=fr" target="_blank"><img src="img/instagram.svg"></a>
			</li>
			<li>
				<a href="#"><img src="img/twitter.svg"></a>
			</li>
			<li>
				<a href="https://www.facebook.com/bellesdejour77/" target="_blank"><img src="img/facebook.svg"></a>
			</li>
		</ul>
		<a id="mentions" href="">Mentions Legales</a>
	</footer>
	<section>

		<nav id="nav">
			<hr>
			<ul>
				<li id="pictopresta"><a href="prestations.html"><img class="pictosnav" src="img/prestations.svg"></a></li>
				<li id="pictocontact"><a href="rdv.html"><img class="pictosnav" src="img/contact.svg"></a></li>
				<li id="pictoproduit"><a href="produits.html"><img class="pictosnav" src="img/produit.svg"></a></li>
			</ul>
		</nav>
	</section>

</body>

</html>